/* Navbar */
.navbar {
  display: flex;
  height: 4em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: all linear 0.1s;
}

/* style navbar on scroll */
.navbar-scrolling {
  background: rgba(255, 255, 255, 0.99);
  /* box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.05); */
  -webkit-box-shadow: 0px 9px 228px -20px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 9px 228px -20px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 9px 228px -20px rgba(0, 0, 0, 0.29);
}
.navbar-scrolling .nav-items a,
.navbar-scrolling .logo-container {
  color: #000;
}

/* Logo */
.logo-container {
  font-family: 'Dancing Script', cursive;
  display: flex;
  margin: auto 2em;
  color: white;
}
.logo-container span {
  font-size: 1.5em;
  font-weight: bold;
}

.nav-items {
  display: flex;
  margin-left: auto;
}
.nav-items a {
  padding: 1.4em 1em;
  text-decoration: none;
  color: white;
}
.nav-items a::after {
  content: '';
  width: 0%;
  margin: 19px auto;
  transition: all 0.5s;
  display: block;
  height: 4px;
  background: var(--main-color);
}
.nav-items a.active::after {
  background: var(--main-color);
  width: 100%;
}

.nav-items a:hover::after {
  width: 100%;
}

/* hide icon menu */
.navbar svg {
  display: none;
  margin: auto 0.5em;
  color: white;
  font-size: 2em;
  cursor: pointer;
}
.navbar-scrolling svg {
  color: #000;
}
/* Side navbar for mobile phones */
.side-nav {
  position: fixed;
  top: 4em;
  left: -350px;
  height: calc(100% - 4em);
  width: 350px;
  background-color: #fff;
  opacity: 0.95;
  z-index: 9;
  display: none;
  transition: all 0.5s;
}
.side-nav-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.side-nav-items a {
  text-decoration: none;
  color: black;
  padding: 1em 2em;
  transition: all 0.1s;
}
.side-nav .active {
  background: var(--main-color);
  color: white;
}
.side-nav-items a:hover {
  color: white;
  background: var(--main-color);
}

@media (max-width: 767px) {
  .opened {
    position: fixed;
    display: block;
    left: 0px;
  }
  .navbar svg {
    display: block;
  }
  .nav-items {
    display: none;
  }
  .side-nav {
    display: block;
  }
  .logo-container {
    margin: auto;
  }
}
