.contact-page {
  padding: 2em;
  background: #ffffff;
}
.contact-page .contact-container {
  display: flex;
}
.contact-page .contact-column {
  padding: 4em;
  flex: 1;
}
.contact-page p {
  color: #000;
  font-size: 0.9em;
  margin-top: 2.5em;
}
.contact-page .contact-items {
  color: #000;
  font-size: 0.9em;
  margin-top: 2.5em;
}
.contact-page .contact-items {
  display: flex;
  flex-direction: column;
}
.contact-page .contact-items .row {
  display: flex;
  margin-bottom: 1.8em;
}
.contact-page .contact-items .icon-container {
  margin-right: 1em;
}
.contact-items span {
  color: #000;
}
.contact-page form {
  margin-top: 2.5em;
  padding: 0 1em;
}
.contact-page form .form-group {
  position: relative;
  width: 100%;
  margin-bottom: 0.5em;
}

.contact-page form input {
  border-radius: 0.75em;
  border: solid 1px #dddddd;
  outline: none;
  height: 2.2em;
  font-size: 1em;
  padding: 0 1em;
  width: 100%;
  transition: all 0.5s;
}
.contact-page form textarea {
  font-family: "Roboto", sans-serif;
  border-radius: 0.1em;
  border: solid 1px #eeeeee;
  outline: none;
  resize: vertical;
  min-height: 8em;
  height: 8em;
  font-size: 1em;
  padding: 0.8em 1em;
  width: 100%;
}
.contact-page form input:focus,
.contact-page form textarea:focus {
  box-shadow: 0px 1px 2px #bbbbbb;
}
.contact-page form input[type="submit"] {
  margin: 0;
}

@media (max-width: 1250px) {
  .contact-page .contact-column {
    padding: 1em;
  }
}

@media (max-width: 900px) {
  .contact-page .contact-container {
    flex-direction: column;
  }
  .contact-page p,
  .contact-page .contact-items,
  .contact-page form {
    margin-top: 1em;
    padding: 0;
  }
}
