.tours-content {
  display: flex;
  padding: 2em 3em;
  background-color: #eeeeee !important;
}
.vector {
  position: absolute;
  z-index: 0;
}
@media (max-width: 992px) {
  .tours-content {
    flex-direction: column;
  }
}
